.chat-message {
    width: fit-content;
    padding: 1px 20px 1px 20px;
    background-color: rgb(225, 231, 225);    
}

.curved-radius{
    border-radius: 10px;
}

.white-border {
    border-color: white;
}

.message {
    display: flex;
    margin: 10px 0px 10px 0px;
}

.avatar {
    background-color: #FF7F50;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    color: white;
    font-weight: 700;
    /* align-self: center; */
    display: inline-block;
    text-align: center;
}